#newsletter .signup {
	Z-INDEX: 5; POSITION: relative; TOP: 4px
}
.tr {
	ZOOM: 1
}
* HTML #modc {
	POSITION: absolute
}
#abc #pagination UL {
	DISPLAY: inline
}
#abc .pagination UL {
	DISPLAY: inline
}
#abc #pagination UL LI {
	DISPLAY: inline
}
#abc .pagination UL LI {
	DISPLAY: inline
}
#tt29 #abc #pagination UL LI {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#abw #coda .tr LI {
	MARGIN: 0px
}
#tt55 .preview#st_form .pTxt {
	DISPLAY: block
}
#tt55 #articlebody P {
	MARGIN-TOP: 0px
}
#modc {
	FILTER: progid:DXImageTransform.Microsoft.Shadow(Strength=8,Direction=135,Color='#333333'); ZOOM: 1
}
.fbm#modc {
	FILTER: "progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=20,Color='#aaaaaa')"
}
#fbl {
	BACKGROUND: 0px 50%; WIDTH: 208px
}
.hint {
	FILTER: "progid:DXImageTransform.Microsoft.Shadow(Strength=6,Direction=135,Color='#aaaaaa')"
}
#st IFRAME {
	MARGIN: 0px
}
#abh {
	WIDTH: 100%
}
* HTML .gt1 #abt {
	HEIGHT: 85px
}
* HTML .gt1#tt1 #abt {
	HEIGHT: 65px
}
* HTML .imgw IMG {
	WIDTH: 100%
}
* HTML .ol {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://z.about.com/w/d/play2.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
* HTML #thumbpromo DL {
	WIDTH: 120px
}
* HTML #gi .cr {
	HEIGHT: 79px
}
* HTML .ng#gi .cr {
	HEIGHT: auto
}
* HTML #mf {
	WIDTH: 560px
}
#si {
	WIDTH: 560px
}
#li {
	WIDTH: 560px
}
* HTML #pagination .tt {
	BACKGROUND: url(http://z.about.com/w/t1/pgbg2.png); TOP: 2.2em
}
* HTML #tt29 #abc #pagination UL LI .tt A:hover {
	BACKGROUND: 0px 50%
}
* HTML #lp-tp IMG {
	WIDTH: 120px
}
* HTML #img_pu #nav {
	PADDING-RIGHT: 22px
}
* HTML .igt#tt33 #abt {
	HEIGHT: 55px
}
